body
{
background-size: cover;
}
#header_btn
{
    width:100%;
    font-size:20px;
}
#footer_div
{
    background: linear-gradient(to right, navy 0%,orange 100%,white 150%);
    color:rgb(255, 255, 255);
   bottom:0;
   position:fixed;  
    box-shadow: 5 18 5 white;
    border-radius:15px;
    font-size:23px;
    width:100%;
    font-family: 'Akaya Telivigala', cursive;
}
canvas
{
border-radius:15px;
box-shadow: 4px 3px 5px rgb(250, 116, 27);;
border:3px solid rgb(250, 116, 27);
margin-top:90px;
}
#status_btn
{
    font-size:21px;
}
#start_btn
{
    font-size:21px;
}
